body {
  font-family: Arial;
  background: #f4f6fb;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu a {
  padding: 15px;
  background: #4f46e5;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

form {
  max-width: 300px;
  margin: auto;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 6px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

#deptList div {
  background: white;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  border-radius: 6px;
}
