body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

.navbar {
    background-color: #4b6cb7;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 22px;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #182848;
}

.menu a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #4b6cb7;
}

.container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}

input, button, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #4b6cb7;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card {
    display: inline-block;
    width: 200px;
    margin: